
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a ng-click="view.setPage(0)">Dashboard</a>
                </li>
                <li>
                    <a ng-click="view.setPage(1)">Shortcuts</a>
                </li>
                <li>
                    <a ng-click="view.setPage(2)">Overview</a>
                </li>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

</div>